:root{
  --unimaq-color: #B61D1F;
  --unimaq-dark-color: #6E0F10;
  --cat-color: #E1B524;
  --cat-dark-color: #93771C;
  --gray-color: #C8C8C8;
  --gray-color-hover: #A6A6A6;
  --green-color: #23AD47;
}