:root{
  --unimaq-color: #B61D1F;
  --unimaq-dark-color: #8d0a00;
  --cat-color: #FBBB01;
  --cat-dark-color: #E1B524;
  --gray-color: #D9D9D9;
  --gray-color-hover: #A6A6A6;
  --green-color: #23AD47;
}